:root {
  /*=============================================
    =                  COLORS                     =
    =============================================*/
  --color-primary--light: #00bf9a;
  --color-primary: #00aa8d;
  --color-primary--dark: #008975;

  --color-secondary--light: #9b26af;
  --color-secondary: #7a1eae;
  --color-secondary--dark: #691a99;

  --color-white: #ffffff;
  --color-grey--light: #fafafa;
  --color-grey: #f5f5f5;
  --color-grey--dark: #e0e0e0;

  --color-black--light: #515151;
  --color-black: #333333;

  /*=====  End of COLORS  ======*/

  /*=============================================
  =                    FONTS                    =
  =============================================*/

  --font-title: "PT Sans";
  --font-body: "Poppins";

  /*=============================================
  =                  SPACINGS                   =
  =============================================*/
  --main-layout-gap: 2rem;
  --layout-gap: 1rem;
  --header-height: 5rem;
  --text-size--sm: 1.2rem;
  --text-size--xs: 1rem;
  --text-size: 1.7rem;
  --text-size--lg: 2.2rem;
  --product-card-width: 30rem;
  --product-card-height: 40rem;
  --main-margin: 1.6rem;
  --product-card-radius: var(--main-margin);
  --product-card-main-padding: var(--main-margin);

  /*=====  End of SPACINGS  ======*/
}

/**
* Basic resetting
**/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  /* Desfines 1rem = 10px(10px/16px = 0.625) */
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: var(--font-body), sans-serif;
}

body {
  font-family: inherit;
  box-sizing: inherit;
  background-color: var(--color-white);
  font-size: var(--text-size);
  color: var(--color-black);
}

.header,
.footer {
  position: fixed;
  left: 0;
  width: 100%;
}

.header {
  top: 0;
  height: var(--header-height);
  background-color: var(--color-grey);
  box-shadow: 0 0.1rem 0.1rem var(--color-grey--dark);
}

.section {
  margin-top: calc(var(--header-height) + var(--main-layout-gap));
  padding: 0 10rem 0 10rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--product-card-width), var(--product-card-width))
  );
  grid-template-rows: repeat(
    2,
    minmax(var(--product-card-height), var(--product-card-height))
  );
  grid-auto-rows: minmax(
    var(--product-card-height),
    var(--product-card-height)
  );

  justify-content: center;
  gap: var(--main-layout-gap);
}

.footer {
  padding: 1rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey--light);
}

/**
* Texts
**/

.text__copy {
  font-size: var(--text-size--sm);
}

.text__copy-author {
  display: inline-block;
  text-decoration: none;
  color: var(--color-grey--light);
  background-color: var(--color-black);
  padding: 0.6rem 2rem;
  font-size: var(--text-size);
  border-radius: 0.25rem;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%);
  transition: all 0.2s;
}

.text__copy-author:visited {
  text-decoration: none;
  color: var(--color-grey--light);
}

.text__copy-author:hover {
  background-color: var(--color-black--light);
}

.text__copy-author:active {
  transform: translateY(0.25rem);
}

.text--product-title,
.text--product-price {
  font-family: var(--font-title);
  font-size: var(--text-size);
}

.text--product-price {
  font-size: var(--text-size--lg);
  font-weight: 700;
}

.text--product-desc {
  font-size: var(--text-size--sm);
}

/*=============================================
=               PRODUCT CARD                  =
=============================================*/
.card__product {
  width: var(--product-card-width);
  height: var(--product-card-height);
  background-color: var(--color-grey);
  overflow: hidden;
  border-radius: var(--main-margin);
  box-shadow: 0 0.1rem 0.1rem 0.1rem var(--color-grey--dark);
}

.card__product-picture {
  display: inline-block;
  width: 100%;
  height: 19rem;
  background-color: bisque;
}

.card__product-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--main-layout-gap);
  padding: var(--main-margin);
  .title {
    display: flex;
    justify-content: space-between;
  }
}

/*=====  End of PRODUCT CARD  ======*/

/*=============================================
=                   BUTTON                    =
=============================================*/

.btn {
  all: unset;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.2s;
}

.btn--primary {
  background-color: var(--color-primary);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  &:hover {
    border-radius: 0.75rem;
    background-color: var(--color-primary--dark);
  }
  &:active {
    transform: translateY(0.5rem);
  }
}

/*=====  End of BUTTONS  ======*/

/*=============================================
=                     DIALOG                 =
=============================================*/
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.dialog__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dialog__content {
  width: 30rem;
  height: min-content;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  border-radius: 1rem;
}

.dialog__content-header {
  padding: 0.75rem 1rem;
  border-bottom: 0.1rem solid var(--color-grey--dark);
  text-align: center;
}

/*=====  End of DIALOG  ======*/

/*=============================================
=                    FORM                    =
=============================================*/

.form {
  padding: var(--main-margin);
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap);
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form__fieldset-label {
  font-size: var(--text-size--xs);
}

.form__fieldset-textinput,
.form__fieldset-textarea {
  padding: 0.75rem 1rem;
  border: none;
  border: 0.15rem solid var(--color-black--light);
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  transition: all 0.2s;

  &:focus {
    outline: 0.1rem solid var(--color-secondary);
    background-color: var(--color-white);
  }
}

.form__fieldset-textarea {
  height: 7rem;
  overflow: scroll;
}
